<h1>New Review Submission</h1>

<%= form_for @submission do |f| %>
  <% if @submission.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :user_id, "User Id" %>
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :screenshot %>
    <%= f.file_field :screenshot, disabled: false %>
  </div>

  <%= f.submit "Rate This Jawn" %>
<% end %>
