<h1><%= @submission.title %></h1>
<ul>
  <% @total_troll = 0 %>
  <% @total_funny = 0 %>
  <% @total_story = 0 %>
  <% @total_helpful = 0 %>
  <% @submission.ratings.each do |rating| %>
    <% @total_troll = @total_troll + rating.troll %>
    <% @total_funny = @total_funny + rating.funny %>
    <% @total_story = @total_story + rating.story %>
    <% @total_helpful = @total_helpful + rating.helpful %>
  <% end %>
  <li>Overal Troll: <%= @total_troll / @submission.ratings.count %></li>
  <li>Overal Funny: <%= @total_funny / @submission.ratings.count%></li>
  <li>Overal Story: <%= @total_story / @submission.ratings.count%></li>
  <li>Overal Helpful: <%= @total_helpful / @submission.ratings.count%></li>
</ul>

<img src="<%= @submission.screenshot %>" alt="">
<%= link_to "Original Review", @submission.url %>
<%= " posted @ #{@submission.created_at} by" %> <strong> <%= "#{@submission.user.username}" %> </strong>

<h4>Description</h4>
<p><%= @submission.description %></p>

<h4>Add a Comment </h4>
  <%= form_for [@submission, @comment] do |f| %>
    <% if @rating.errors.any? %>
      <div id="error_explanation">

        <ul>
        <% @rating.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <% if @comment.errors.any? %>
      <div id="error_explanation">

        <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :body, "Comment" %>
      <%= f.text_field :body %>
    </div>

    <%= fields_for(@submission.ratings.build) do |u| %>

      <div class="field">
        <%= u.label :troll %>
        <%= u.number_field :troll, in: 1...6 %>
      </div>

      <div class="field">
        <%= u.label :funny %>
        <%= u.number_field :funny, in: 1...6 %>
      </div>

      <div class="field">
        <%= u.label :story %>
        <%= u.number_field :story, in: 1...6 %>
      </div>

      <div class="field">
        <%= u.label :helpful %>
        <%= u.number_field :helpful, in: 1...6 %>
      </div>
    <% end %>

    <%= f.submit "Comment This Jawn" %>
  <% end %>


<h4>Comments</h4>
<ul>
  <% @submission.ratings.each do |rating|%>
    <% if rating.comment %>
      <% if rating.comment.body != ""  %>
        <%= " posted @ #{rating.created_at} by" %> <strong> <%= "#{rating.user.username}" %> </strong>
        <li><%= rating.comment.body%></li>
    <% else %>
        <li>There was no comment for this rating</li>
      <% end %>
    <% end %>

    <ul>

    <% if rating.troll %>
        <li> Troll Rating <%= rating.troll %></li>
        <li> Funny Rating <%= rating.funny %></li>
        <li>Story Rating <%= rating.story %></li>
        <li>Helpful Rating <%= rating.helpful %></li>
    <% end %>
  </ul>
  </br>
  <% end %>
</ul>
