

<% if user_signed_in? %>
  <% if current_user.admin || current_user.id == @submission.user_id %>
    <%= link_to "Edit this Jawn", edit_submission_path(@submission) %>
    <%= link_to "Delete this Jawn", submission_path(@submission), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>

<h4>Add a Comment </h4>
  <%= form_for [@submission, @comment] do |f| %>

    <% if @comment.errors.any? %>
      <div id="error_explanation">

        <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :body, "Comment" %>
      <%= f.text_field :body %>
    </div>

    <div class="field">
      <%= f.label :troll %>
      <%= f.number_field :troll, in: 1...6 %>
    </div>

    <div class="field">
      <%= f.label :funny %>
      <%= f.number_field :funny, in: 1...6 %>
    </div>

    <div class="field">
      <%= f.label :story %>
      <%= f.number_field :story, in: 1...6 %>
    </div>

    <div class="field">
      <%= f.label :helpful %>
      <%= f.number_field :helpful, in: 1...6 %>
    </div>

    <%= f.submit "Comment This Jawn" %>
  <% end %>


<h4>Comments</h4>
<ul>
  <% @submission.comments.each do |comment|%>
    <% if comment && comment.body != "" %>
        <%= " posted @ #{comment.created_at} by" %> <strong> <%= "#{comment.user.username}" %> </strong>
        <li><%= comment.body%></li>
        <% if user_signed_in? && current_user.admin %>
            <%= link_to "Delete comment", comment_path(comment), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
    <% else %>
        <li>There was no comment for this rating</li>
    <% end %>

    <ul>
      <li> Troll Rating <%= comment.troll %></li>
      <li> Funny Rating <%= comment.funny %></li>
      <li>Story Rating <%= comment.story %></li>
      <li>Helpful Rating <%= comment.helpful %></li>
  </ul>
  </br>
  <% end %>
</ul>
<%= react_component("ShowPage", props: { allowed: user_signed_in? && current_user.admin || current_user.id == @submission.user_id, submission: @submission, submission_creator: @submission.user.username, submission_rating: {troll: @troll, funny: @funny, story: @story, helpful: @helpful}, comments: {body: @submission.comments, user: @submission.comments.collect {|a| a.user}}}, prerender: true) %>
