<!DOCTYPE html>
<html>
  <head>
    <title>UnderReview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
<<<<<<< HEAD
    <nav>
      <ul>
        <li><%= link_to 'Sign Up', new_user_registration_path %> </li>
      </ul>
    </nav>
=======
    <% if flash.any? %>
      <div class="flash">
        <div class="container">
          <%= flash[:notice] %>
        </div>
      </div>
    <% end %>

>>>>>>> master
    <%= yield %>
  </body>
</html>
