<!DOCTYPE html>
<html>
  <head>
    <title>UnderReview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="wrapper">
      <nav>
        <% if user_signed_in? %>
          <div><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></div>
        <% else %>
          <div><%= link_to 'Sign Up', new_user_registration_path %> </div>
          <div><%= link_to 'Sign In', new_user_session_path %> </div>
        <% end %>
      </nav>
      <input type="checkbox" id="menu" name="menu" class="menu-checkbox">
      <div class="menu">
        <label class="menu-toggle" for="menu"><span>Toggle</span></label>
        <ul>
          <li>
            <a href="#">Menu-1</a>
          </li>
          <li>
            <a href="#">Menu-2</a>
          </li>
          <li>
            <label for="menu-3">Menu-3</label>
            <input type="checkbox" id="menu-3" name="menu-3" class="menu-checkbox">
            <div class="menu two">
              <label class="menu-toggle" for="menu-3"><span>Toggle</span></label>
              <ul>
                <li>
                  <a href="#">Menu-3-1</a>
                </li>
                <li>
                  <label for="menu-3-2">Menu-3-2</label>
                  <input type="checkbox" id="menu-3-2" name="menu-3-2" class="menu-checkbox">
                  <div class="menu three">
                    <label class="menu-toggle" for="menu-3-2"><span>Toggle</span></label>
                    <ul>
                      <li>
                        <a href="#">Menu-3-2-1</a>
                      </li>
                      <li>
                        <a href="#">Menu-3-2-2</a>
                      </li>
                      <li>
                        <label for="menu-3-2-3">Menu-3-2-3</label>
                        <input type="checkbox" id="menu-3-2-3" name="menu-3-2-3" class="menu-checkbox">
                        <div class="menu four">
                          <label class="menu-toggle" for="menu-3-2-3"><span>Toggle</span></label>
                          <ul>
                            <li>
                              <a href="#">Menu-3-2-3-1</a>
                            </li>
                            <li>
                              <a href="#">Menu-3-2-3-2</a>
                            </li>
                            <li>
                              <a href="#">Menu-3-2-3-3</a>
                            </li>
                            <li>
                              <a href="#">Menu-3-2-3-4</a>
                            </li>
                          </ul>
                        </div>
                      </li>
                      <li>
                        <a href="#">Menu-3-2-4</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li>
                  <a href="#">Menu-3-3</a>
                </li>
                <li>
                  <a href="#">Menu-3-4</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <label for="menu-4">Menu-4</label>
            <input type="checkbox" id="menu-4" name="menu-4" class="menu-checkbox">
            <div class="menu">
              <label class="menu-toggle" for="menu-4"><span>Toggle</span></label>
              <ul>
                <li>
                  <a href="#">Menu-4-1</a>
                </li>
                <li>
                  <a href="#">Menu-4-2</a>
                </li>
                <li>
                  <a href="#">Menu-4-3</a>
                </li>
                <li>
                  <a href="#">Menu-4-4</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <label for="menu-5">Menu-5</label>
            <input type="checkbox" id="menu-5" name="menu-5" class="menu-checkbox">
            <div class="menu">
              <label class="menu-toggle" for="menu-5"><span>Toggle</span></label>
              <ul>
                <li>
                  <a href="#">Menu-5-1</a>
                </li>
                <li>
                  <a href="#">Menu-5-2</a>
                </li>
                <li>
                  <a href="#">Menu-5-3</a>
                </li>
                <li>
                  <a href="#">Menu-5-4</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a href="#">Menu-6</a>
          </li>
        </ul>
      </div>
      <% if flash.any? %>
        <div class="flash">
          <div class="container">
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
            <% end %>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
